/* ###ABOUT_PAGE### */

.about-head-section {
    display: flex;
    justify-content: space-between
}

.about-header img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.primary-btn3 {
    font-family: var(--font-saira);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: .03em;
    color: var(--black-color2);
    border-radius: 8px;
    background-color: #ffc107;
    padding: 8px 26px;
    display: inline-block;
    transition: .5s;
    position: relative;
    overflow: hidden;
    height: 40px;
    z-index: 1
}

.primary-btn3::after {
    position: absolute;
    content: "";
    display: block;
    left: 15%;
    right: -20%;
    top: -4%;
    height: 150%;
    width: 150%;
    bottom: 0;
    border-radius: 2px;
    background-color: #0a1019;
    transform: skewX(45deg) scale(0, 1);
    z-index: -1;
    transition: all .5s ease-out 0s
}

.primary-btn3:hover {
    color: white
}

.primary-btn3:hover::after {
    transform: skewX(45deg) scale(1, 1)
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

p, a, li {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}