<br>
<div class="container px-4 px-lg-5 mt-5 pt-5 pb-5" style="font-family: 'Raleway', sans-serif;">
  <div class="our-services-section">
    <div class="row align-items-center mb-4">
      <div class="col-12 col-md-6 text-start">
        <h2 class="our-services-heading display-3 text-light mb-0">Our Services</h2>
      </div>
      <div class="col-12 col-md-6 text-md-end text-start mt-3 mt-md-0">
        <a class="primary-btn3 text-decoration-none" routerLink="/contact" routerLinkActive="active">
          Get in touch
        </a>
      </div>
    </div>

    <!-- Web Design & Development -->
    <div class="our-services-content mb-5">
      <div class="row">
        <div class="col-lg-6">
          <h3 class="our-content-head">Web Design &amp; Development</h3>

          <div class="sub-content-services mb-4">
            <h5 class="sub-content-head">Custom Web Application Development</h5>
            <p class="sub-content-para"> A web application is an app that is accessed via the internet through a web browser. Unlike mobile apps, these applications are stored on a remote server, not on a device itself. A perk of web apps is that they do not have to be downloaded in order to be accessed or used, although they do require an internet connection in order to be leveraged.</p>
          </div>

          <div class="sub-content-services mb-4">
            <h5 class="sub-content-head">E-Commerce Development</h5>
            <p class="sub-content-para"> If your company sells products and services online, you will need a robust digital store and vendor services. BairesDev can create and provide an eCommerce website that will showcase your business and allow you to sell your goods seamlessly, all while appealing to your user base and helping you to attract new customers. Our eCommerce solutions span industries and niches, and we can assist you in crafting a retail experience that works for you and your business.</p>
          </div>

          <div class="sub-content-services mb-4">
            <h5 class="sub-content-head">Front-End Design &amp; Development</h5>
            <p class="sub-content-para"> The front-end of your website or web application is the part users see and interact with. It is, of course, a critical aspect of your website and must work together with the back-end without hiccups. Because of that, we hire experienced front-end developers and user experience (UX) designers to craft an attractive and appealing interface, design, and all-around quality experience for your users.</p>
          </div>

          <div class="sub-content-services mb-4">
            <h5 class="sub-content-head">Back-End Web Development</h5>
            <p class="sub-content-para"> Back-end developers are responsible for building the server side of your website or web app — the part that users can’t see or manipulate. Our back-end developers will build a solid infrastructure, working closely with the front-end development team to ensure that the two sides work together and function seamlessly.</p>
          </div>

          <div class="sub-content-services mb-4">
            <h5 class="sub-content-head">Support &amp; Maintenance</h5>
            <p class="sub-content-para"> All websites and apps require maintenance and upkeep. That is because no technologies, no matter how robust, remain as they are forever — they will always age and change. Our team members stay up to date on the latest tools and technologies and work hard to ensure that we keep your web presence fresh and timely through support and maintenance. We are also on hand to help you with any questions you may have or assistance you need. </p>
          </div>

          <div class="contact-git mt-4">
            <a class="primary-btn3 text-decoration-none" style="background-color: #0399FA;" routerLink="/contact" routerLinkActive="active">Get in touch</a>
          </div>
        </div>

          <div class="col-lg-6 d-flex justify-content-start align-items-center aos-init aos-animate ps-lg-5 mt-lg-4" data-aos="slide-left">
            <div class="image-wrapper">
              <picture>
                <source srcset="/assets/images/web-development-1.webp" media="(max-width: 768px)">
                <img src="/assets/images/web-development.webp" alt="web-development" loading="lazy" class="img-fluid rounded shadow">
              </picture>
            </div>
          </div>

      </div>
    </div>

    <!-- Digital Marketing -->
    <div class="our-services-content mb-5">
      <div class="row">
        <div class="col-lg-6 d-flex justify-content-start align-items-center aos-init aos-animate ps-lg-5 mt-lg-4" data-aos="slide-left">
            <div class="image-wrapper1">
              <picture>
                <source srcset="/assets/images/degital-marketing-1.webp" media="(max-width: 768px)">
                <img src="/assets/images/degital-marketing.webp" alt="web-development" loading="lazy" class="img-fluid">
              </picture>
            </div>
        </div>
        <div class="col-lg-6">
          <h3 class="our-content-head">Digital Marketing</h3>

          <div class="sub-content-services mb-4">
            <h5 class="sub-content-head">E-mail Marketing</h5>
            <p class="sub-content-para"> How many emails from businesses do you delete every day? Choose Thrive and let's make your email marketing campaigns stand out and work for your business. We create personalized email newsletters to keep your emails out of spam folders and encourage your customers to take your desired action. Our team builds your subscriber list, tests email campaigns before delivery, utilizes power words on your content and creates a curiosity gap in your emails.</p>
          </div>

          <div class="sub-content-services mb-4">
            <h5 class="sub-content-head">Google Ads Services</h5>
            <p class="sub-content-para"> Google Ads is one of the most effective and accountable marketing techniques, having the ability to target the right audience &amp; help generate high ROI. Google Ads holds significant importance for businesses and organizations looking to establish a strong online presence, connect with their target audience, and achieve various marketing goals. We are the best Certified Google AdWords management agency.</p>
          </div>

          <div class="contact-git mt-4">
            <a class="primary-btn3 text-decoration-none" style="background-color: #0399FA;" routerLink="/contact" routerLinkActive="active">Get in touch</a>
          </div>
        </div>
      </div>
    </div>

    <!-- IT Consulting -->
    <div class="our-services-content mb-5">
      <div class="row">
        <div class="col-lg-6">
          <h3 class="our-content-head">IT Consulting &amp; IT Services</h3>

          <div class="sub-content-services mb-4">
            <h5 class="sub-content-head">Recruitment and Staffing</h5>
            <p class="sub-content-para">Our HR experts are committed to finding the best talent for your
                organization. We streamline the recruitment process, from sourcing and screening to
                interviewing and onboarding, ensuring you have the right team to achieve your goals.</p>
          </div>

          <div class="sub-content-services mb-4">
            <h5 class="sub-content-head">HR Consulting</h5>
            <p class="sub-content-para">Taskhive provides strategic HR consulting services to help you
                optimize your workforce, develop HR policies, and create a thriving workplace culture
                that attracts and retains top talent.</p>
          </div>

          <div class="contact-git mt-4">
            <a class="primary-btn3 text-decoration-none" style="background-color: #0399FA;" routerLink="/contact" routerLinkActive="active">Get in touch</a>
          </div>
        </div>

        <div class="col-lg-6 d-flex justify-content-start align-items-center aos-init aos-animate ps-lg-5 mt-lg-4" data-aos="slide-left">
          <div class="image-wrapper">
            <picture>
              <source srcset="/assets/images/it-services-1.webp" media="(max-width: 768px)">
              <img src="/assets/images/it-services.webp" alt="web-development" loading="lazy" class="img-fluid">
            </picture>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>